- content_for :title do
  MRV Fitment
.row.search
  .col-md-6
    %input{placeholder: "Type what you are searching for"}
  .col-md-6
    %button.reset Reset

.row
  .col-md-3 Make
  .col-md-3 Model
  .col-md-3 Year
  .col-md-3 Code

- @handles.each do |handle|
  .row.handle{id: handle.humanized_code}
    .col-md-3= handle.make
    .col-md-3= handle.kind
    .col-md-3= handle.years
    .col-md-3= handle.code

:javascript
  var handles = #{@handles_for_js}
  $(".search input").autocomplete({
    minLength: 2,
    source: handles,
    select: function (event, ui) {
      var selected = $("#" + ui.item.code);
      var offset = selected.offset().top - 100;
      $(".row.handle").removeClass("current");
      selected.addClass("current");
      $("html, body").animate({ scrollTop: offset}, 100);
    }
  });
  $(".reset").click(function() {
    $(".row.handle").removeClass("current");
    $(".search input").val("");
    $("html, body").animate({ scrollTop: 0}, 100);
  });
