- content_for :title do
  MRV Fitment

.search
  .container
    %input{placeholder: "Type what you are searching for"}
    %button.reset.btn.btn-small.btn-lines-lust Reset
    #autocomplete.autocomplete-holder

.container
  .row.header
    .quarter.third-small Make
    .quarter.third-small Model
    .quarter.hide-small Year
    .quarter.third-small Code

  - @handles.each do |handle|
    .row.handle{id: handle.humanized_code}
      .quarter.third-small= handle.make
      .quarter.third-small= handle.kind
      .quarter.hide-small= handle.years
      .quarter.third-small= handle.code

:javascript
  var handles = #{@handles_for_js}
  $(".search input").autocomplete({
    minLength: 2,
    appendTo: "#autocomplete",
    source: function (request, response) {
      var matcher = new RegExp($.ui.autocomplete.escapeRegex(request.term), "i");
      response($.grep(handles, function(value) {
        return matcher.test(value.fake);
      }));
    },
    select: function (event, ui) {
      var selected = $("#" + ui.item.code);
      var offset = selected.offset().top - 180;
      $(".row.handle").removeClass("current");
      selected.addClass("current");
      $("html, body").animate({ scrollTop: offset}, 100);
    }
  });
  $(".reset").click(function() {
    $(".row.handle").removeClass("current");
    $(".search input").val("");
    $("html, body").animate({ scrollTop: 0}, 100);
  });
